*{
    margin: 0px;padding: 0px;
    box-sizing: border-box;
}
header {
    width: 100%;
    box-shadow: 0px 2px 7px #b5b5;
    background-color: rgb(255 255 240);
    height: 70px;
    position: fixed;
}
.icon>h2 {
    padding-top: 20px;
    padding-left: 20px;
    color: #000000;
}
.btn{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: -25px;
}
.btn div input {
    margin: -2px 1px;
    padding: 6px 40px;
    background-color: #f99977;
    border-radius: 6px;
    box-shadow: #f9997773 0px 1px 4px;
    border: none;
    color: white;
    cursor: pointer;
}

#sign-in {
    margin-right: 20px;
}
.navbar{
    font-family: sans-serif;
    padding-top: 110px;
    height: 40px;
    box-shadow: 2px 5px 24px rgba(0,0,0,0.1);
}
.menuitem{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.lst-item{
    font-family: sans-serif;
    font-size: 1.2vw;
    font-weight: bold;
    margin: -30px;
    text-align: center;
}
.lst-item >a{
    text-decoration: none;
    color: #000000;
    font-family: sans-serif;
    font-size: 1.2vw;
}
.lst-item>ul{
    padding: 10px;
    position: relative;
    margin-top: 10px;
    margin-left: 100px;
    background-color: gray;
    display: none;
}
.lst-item>ul>li{
    list-style-type: none;
    line-height: 1.8;
}
.lst-item>ul>li>a{
    text-decoration: none;
    color: #ffffff;
}
.lst-item:hover>ul{
    display:block;
    position: absolute;
    box-shadow: 2px 5px 24px rgba(0,0,0,0.1);
    border-radius: 0px 8px 0px 8px;
}
.lst-item:hover>a>i{
    transform: rotate(-180deg);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 15px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 5px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8)
  }
  
.clearfix{
    clear: both;
}
.body{
    padding: 5px 5px 0px 5px;
    background-color:ivory;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.2);
}
.card-container{
    display: flex;
    width: 100%;
    height: auto;
    margin-top:-100px;
    justify-content: center;
    align-items: center;
}
.card{
    width: 230px;
    height: 270px;
    box-shadow: 2px 5px 24px rgba(0,0,0,0.1);   
   
    margin: 50px 70px;
    background-color: ivory;
}
/* Course Section */
.course-H {
    text-align: center;
    height: 70px;
    margin: 50px;
}

.course-card {
    box-shadow: rgb(174, 172, 172) 0px 0px 10px;
    outline: 1px solid #d6d6d6;
    background-color: white;
    height: 280px;
    width: 252px;
    margin: 20px;
}

.course-container div img {
    height: auto;
    width: inherit;
    /* margin: 0px; */
}

.course-container div h2 {
    margin: 8px;
    font-size: 1.2rem;
    background-color: white;
}

.course-container div input {
    border: none;
    background-color: #2196F3;
    border-radius: 4px;
    margin: 14px 9px;
    padding: 4px 81px;
    cursor: pointer;
}

.course-container {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
}


/* Course Section End*/


/* job section start */

.job-section {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 150px 20px;
}

.job-card {
    padding: 20px;
}

.job-detail {
    background-color: white;
    box-shadow: 0px 0px 15px rgb(174, 172, 172);
    margin: 20px 70px;
    padding: 110px 45px 0px 45px;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}

.job-card img {
    margin-top: 10px;
    margin-left: 130px;
    height: 425px;
    width: auto;
}

.job-detail h2 {
    color: #f99977;
    font-size: 2rem;
    margin: auto;
    text-align: left;
}

.job-detail p {
    font-size: 1.1rem;
    margin: revert;
    text-align: left;
}

.job-btn {
    margin-top: 15px;
    padding: 15px 19px;
    background-color: #f99977;
    border-radius: 6px;
    box-shadow: #f9997773 0px 1px 4px;
    border: none;
    color: white;
    cursor: pointer;
}


/* job section end */


/* notes Section start  */

.Notes-section {
    padding-top: 70px;
}
/* notes Section end */

/*subject details*/

.sub-detail{
    width: 100%;
    height:155px;
    box-shadow: 2px 5px 24px rgba(0,0,0,0.1);
    border-left: 8px solid steelblue;
    margin-bottom: 50px;
}
.sub-heading>h1{
    display: inline-block;
    border-bottom: 5px solid red;
    margin-left: 40%;
}
.sub-heading>p{
    padding: 10px;
    background-color: rgb(207, 203, 203);
    margin: 20px 0px 0px 0px;
}

/* subject section start  */
.Subject-section{
    margin-bottom: 50px;
}
.subjects {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap:-10px;
    height: 130px;
}

.subject-card {
    margin: 20px;
    box-shadow: 2px 5px 24px rgba(0,0,0,0.1);
    
}
#subject-card-6{
    margin: 50px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
}
.subject-card:hover{
    transform: scale(1.1);
    border:2px solid red;
}
/* subject section End  */
.footer-top{
    font-family: sans-serif;
    font-size: 1vw;
    height: 180px;
    box-shadow: 2px 5px 24px rgba(0,0,0,0.1);
}
.fc1 , .fc2{
    padding: 10px;
    float: left;
    width: 50%;
}
.fc1>h1,.fc2>h1
{
    line-height: 4vw;
    text-align: center;
    color: green;
}
.fc2>h2{
    line-height: 1.4;
    margin-left:30%;
}
.fc1>p{
    line-height: 1.3;
    font-size: 1.2vw;
    margin-left:32% ;
    text-align: left;
}
footer{
    margin-top: -1px;
    padding-top: 10px;
    display: flex;
    background-color:gray;
    color: #ffffff;
}
.footerbox{
    width:25%;
    text-align: center;
    
}
.footer-list{
    margin-top: 10px;
}
.footer-list li{
    list-style-type: none;
    line-height: 1.8;
}
.footer-list li a{
    text-decoration: none;
    color: #ffffff;
}
.copy{
    background-color: #000000;
    text-align: center;
    width: 100%;
}
.copy p{
    padding: 5px;
    color: #ffffff;
}

